@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}

:root{
    --main-color:#8B0000;
    --second-color: #FFC0CB	;
    --text-color:#fff;
    --bg-color:#8B0000;

    --box-shadow:2px 2px 10px 4px rgb(14 55 54 / 15%);
}

section{
    padding:50px 100px;
}

/* img{
    width:100%;
} */
body{
    color:var(--second-color);
    background-color: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:18px 50px;
    transition: 0.5s linear;
    background-color: var(--bg-color);
    background: transparent;
}

.active{
background-color: var(--second-color);
}

.logo img{
    width:60px;
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar a:hover{
    background-color: black;
    border-radius: 0.5rem;
    transition: 0.2s all linear;
}

#menu-icon{
    color:var(--second-color);
    font-size: 28px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: url(/img/break1.gif);
    background-color: var(--second-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 1.5rem;
}

.home h1{
    font-size: 35px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    object-position: center;
    padding-bottom: 30px;
    font-weight: 400;
}

.home-img{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home-img img{
    border-radius: 0.5rem;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
    padding: 15px;
    border-radius: 0.5rem;
}

.heading{
    text-align: center;
    color:greenyellow;
}

.heading h1{
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 300;
}

.gallery-container{
    display: flex;
    flex-direction: row;
}
.gallery-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#gallery-box-1 img{
    padding:10px
}

.gallery-box img{
    width: 80%;
}

.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    margin-top: 10px;
}

.pricing-container .box{
    position: relative;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    width: 280px;
    height: 280px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    margin: 30px;
}


.pricing-container .box h2{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin:0.5rem 0 0.5rem;
    text-align: center;
    color: greenyellow;
}

.pricing-container .box .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pricing-container .box .content span{
    padding: 0 1rem;
    color: var(--second-color);
}
.price{
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.map-holder{
    /* margin: 30px; */
    height:400px;
    width:100%;
    border: 1px solid;
    align-self: center;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

.footer-box{
    padding: 0px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    margin-top: 15px;
    width: 230px;
    height: 220px;
}

.footer-logo{
    width:210px;
}

.qr-code{
    width:140px;
}

@media (max-width: 950px) {
    .pricing-container{
        flex-direction: column;
    }
    .pricing-container .box{
        margin: 15px;
    }
}
@media (max-width: 710px) {
    .footer{
        flex-direction: column;
    }
    .footer-box{
        height: 180px;
    }
    .gallery-container{
        display: flex;
        flex-direction: column;
    }
    #gallery-box-2 img{
        padding: 10px;
    }
    .gallery-container img{
        width: 100%;
    }

}
/* 
@media (max-width: 1380px){
    .footer h1{
        font-size: 10px;
    }

    .footer h2{
        font-size: 20px;
    }

    .footer h3{
        font-size: 15px;
    }
    
    .footer i{
        font-size: 12px;
    }

    .footer-logo{
        width:150px;
    }
    
    .qr-code{
        width:90px;
    }

    
} */